<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>

    <title>Text List Generator</title>

  </head>
  <body>
 <!-- Input field to enter folder name -->
<label for="folderName">Enter folder name:</label>
<input type="text" id="folderName" name="folderName">

<!-- Button to create folder -->
<button id="createFolderButton">Create Folder</button>

<!-- Start button to run a function -->
<button id="startButton">Start</button>

<!-- Section to display images from selected folder -->
<div id="imageContainer"></div>
</body>
</html>